@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	font-family:
		Inter,
		ui-sans-serif,
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		'Liberation Sans',
		sans-serif;
}

@layer base {
	html,
	body {
		height: 100%;
	}

	body {
		@apply bg-slate-950 text-slate-50;
	}
}
